{% load staticfiles %}
<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EMC</title>

	<!-- Page styles -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.1.1/material.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.css"> -->
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.1.1/material.lime-red.min.css" /> 
	<link rel="stylesheet" href="{% static "css/index.css" %}">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
	<style>
		#view-source {
			position: fixed;
			display: block;
			right: 0;
			bottom: 0;
			margin-right: 40px;
			margin-bottom: 40px;
			z-index: 900;
		}
	</style>

</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

		<div class="android-header mdl-layout__header mdl-layout__header--waterfall">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">
					<!-- <img class="android-logo-image" src="images/android-logo.png"> -->
					<h2 style="color: #757575; font-family: Orbitron; font-size:130%">Euro Moto Corp.</h2>
				</span>
				<!-- Add spacer, to align navigation to the right in desktop -->
				<div class="android-header-spacer mdl-layout-spacer"></div>

				<!-- Navigation -->
				<div class="android-navigation-container">
					<nav class="android-navigation mdl-navigation">
						<a class="mdl-navigation__link mdl-typography--text-uppercase" href="#au">About Us</a>
						<a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url "wheels.views.repairTyre" %}">Tyre Repair</a>
						<a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url "wheels.views.repairAlloy" %}">Rim Repair</a>

					</nav>
				</div>

				<span class="android-mobile-title mdl-layout-title">
					<!-- <img class="android-logo-image" src="images/android-logo.png"> -->
				</span>
			</div>
		</div>

		<div class="android-drawer mdl-layout__drawer">
			<span class="mdl-layout-title">
				<!-- <img class="android-logo-image" src="images/android-logo-white.png"> -->
				<h2 style="color: #757575; font-family: Orbitron; font-size:130%">EMC</h2>
			</span>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="#au"><Strong>About Us</Strong></a>
				<a class="mdl-navigation__link" href="{% url "wheels.views.repairTyre" %}"><Strong>Tyre Repair</Strong></a>
				<a class="mdl-navigation__link" href="{% url "wheels.views.repairAlloy" %}"><Strong>Rim Repair</Strong></a>
			</nav>
		</div>

		<div class="android-content mdl-layout__content">
			<a name="top"></a>
			<div class="android-be-together-section mdl-typography--text-center">
				  <!-- <div class="android-font android-slogan">be together. not the same.</div>
				  <div class="android-font android-sub-slogan">welcome to android... be yourself. do your thing. see what's going on.</div>
				  <div class="android-font android-create-character">
					<a href=""><img src="images/andy.png"> create your android character</a>
				</div> -->

				<a href="#screens">
					<button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
						<i class="material-icons">expand_more</i>
					</button>
				</a>
			</div>
		<div class="mdl-typography--text-center">
			<a name="screens"></a>
			<div style="padding:5%"  id="au">
				<h3 style="font-family: Orbitron; color: #757575; text-align: left">About Us</h3>
				<p style="text-align: left">EMC is an alloy wheel and tyre repair company. Our experienced specialist can undertake the most appropriate repairs on your alloys and tyres.
					Our repair techiniques are not only fast, but are professional and cost effective.
					we do not compromise on the final finishing, you can expect professional and outstanding results
					our services include <Strong>alloy straightening, alloy refurbishment, alloy colouring and all types of tyre repairs.</Strong>
					At EMC all the alloy wheel and tyre repairs are fully guaranteed.
				</p>
			</div>
			<div class="mdl-grid margin-grid" style="text-align: center; background-color: #FFFFFF;">
				<div align="center" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--7-col-tablet">
					<div class="demo-card-square mdl-card mdl-shadow--2dp">
						<div class="mdl-card__title mdl-card--expand card1">
						<h2 class="mdl-card__title-text">Timely Service</h2>
						</div>
						<div class="mdl-card__supporting-text">
							At EMC our trained professionls service all your Rim and Tyre repair needs with same day turnaround.
						</div>
					</div>
				</div>

				<div align="center" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--7-col-tablet">
					<div class="demo-card-square mdl-card mdl-shadow--2dp">
						<div class="mdl-card__title mdl-card--expand card2">
						<h2 class="mdl-card__title-text">Money</h2>
						</div>
						<div class="mdl-card__supporting-text">
							We don't just paint Rims we Bake them, that's why our services are really cost effective, 100% genuine and value for money.
						</div>
					</div>
				</div>

				<div align="center" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--7-col-tablet">
					<div class="demo-card-square mdl-card mdl-shadow--2dp">
						<div class="mdl-card__title mdl-card--expand card3">
						<h2 class="mdl-card__title-text">Security</h2>
						</div>
						<div class="mdl-card__supporting-text">
							We have been repairing Tyres and Alloys since 2000, thus all the processes are genuine and 100% safe.
						</div>
					</div>
				</div>
			</div>

			<div style="padding:5%"  id="au">
				<h3 style="font-family: Orbitron; color: #757575; text-align: left">Services</h3>
				<ul class="demo-list-three mdl-list" style="text-align: left;">
					<li class="mdl-list__item mdl-list__item--three-line">
						<span class="mdl-list__item-primary-content">
							<span>Tyre Repair</span>
							<span class="mdl-list__item-text-body">
						        We are the tyre repair specialists. We repair cuts and multiple punctures that are not repairable by puncture plugs.
      						</span>
						</span>
					</li>
					<li class="mdl-list__item mdl-list__item--three-line">
						<span class="mdl-list__item-primary-content">
							<span>Rim Refurbish</span>
							<span class="mdl-list__item-text-body">
						        Scratched, chipped and faded rims can make your car look shabby and buying a new set can be very expensive. At EMC we give your alloys a complete makeover at minimal prices.
      						</span>
						</span>
					</li>
					<li class="mdl-list__item mdl-list__item--three-line">
						<span class="mdl-list__item-primary-content">
							<span>Rim Colouring</span>
							<span class="mdl-list__item-text-body">
						        Paintng your stock rims is very in these days, but at EMC we dont just paint rims, we bake them as well.
      						</span>
						</span>
					</li>
					<li class="mdl-list__item mdl-list__item--three-line">
						<span class="mdl-list__item-primary-content">
							<span>Second Hand Stock</span>
							<span class="mdl-list__item-text-body">
						        We also maintain a stock of secondhand tyres and rims of various brands and models.
      						</span>
						</span>
					</li>
				</ul>
			</div>
		</div>

		<footer class="mdl-mini-footer">
			<div class="mdl-mini-footer__left-section">
				<div class="mdl-logo">Euro Moto Corp: © 2016</div>
				<ul class="mdl-mini-footer__link-list">
					<li><a href="#">Help</a></li>
					<li><a href="#">Privacy & Terms</a></li>
				</ul>
				<ul class="mdl-mini-footer__link-list">
					<li><a href="https://www.facebook.com/Euro-moto-Corp-132728500401379"><img src="https://www.gstatic.com/images/icons/material/system/2x/post_facebook_white_24dp.png" style="width:60%"></a></li>
					<li><a href=""><img src="https://www.gstatic.com/images/icons/material/system/2x/post_twitter_white_24dp.png" style="width:60%; margin-left:-50%"></a></li>
					<li><a href=""><img src="https://www.gstatic.com/images/icons/material/system/2x/post_gplus_white_24dp.png" style="width:60%; margin-left:-100%"></a></li>
				</ul>
			</div>
		</footer>

	</div>
</div>
<a href="/nameform/" target="_self" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Contact</a>

<div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text">Query Sent Succesfully!</div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<!-- Showing the Toast on form submission -->
{% if redirect %}
<script>
$(document).ready(function(){
  $("#demo-toast-example").addClass("mdl-snackbar--active");
  setTimeout(function(){ $("#demo-toast-example").removeClass("mdl-snackbar--active"); }, 5000);
  });
</script>
{% endif %}

</body>
</html>