{% load staticfiles %}
<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="A Tyre and Alloy Wheel repair company.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EMC</title>

	<!-- Page styles -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.1.1/material.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.1.1/material.lime-red.min.css" /> 
	<link rel="stylesheet" href="{% static "css/index.css" %}">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

	<!-- Setting the required attribute for all form fields -->
	<script type="text/javascript">
		function setRequiredAttribute() {
			var ids = ['id_mobile', 'id_name', 'id_model', 'id_year', 'id_car_make']
			for(var i = 0; i < ids.length; i++){
				var att = document.createAttribute("required");
				var field = document.getElementById(ids[i]);
				field.setAttributeNode(att);
			}
		}
	</script>

	<script type="text/javascript">
		function formSubmitted() {
			console.log('form submit success!');
			var loader = document.getElementById('loader');
			loader.className += " is-active";
			var submitButton = document.getElementById('submitButton');
			var att = document.createAttribute("disabled");
			submitButton.setAttributeNode(att);
			//submitButton.className += " mdl-button--disabled";
		}
	</script>

	<style>
		#view-source {
			position: fixed;
			display: block;
			right: 0;
			bottom: 0;
			margin-right: 40px;
			margin-bottom: 40px;
			z-index: 900;
		}
	</style>
</head>
<body onload="setRequiredAttribute();">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

		<div class="android-header mdl-layout__header mdl-layout__header--waterfall">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">
					<!-- <img class="android-logo-image" src="images/android-logo.png"> -->
					<h2 style="color: #757575; font-family: Orbitron; font-size:130%">Euro Moto Corp.</h2>
				</span>
				<!-- Add spacer, to align navigation to the right in desktop -->
				<div class="android-header-spacer mdl-layout-spacer"></div>

				<!-- Navigation -->
				<div class="android-navigation-container">
					<nav class="android-navigation mdl-navigation">
						<a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url "wheels.views.home" %}">Home</a>

					</nav>
				</div>

				<span class="android-mobile-title mdl-layout-title">
					<!-- <img class="android-logo-image" src="images/android-logo.png"> -->
				</span>
			</div>
		</div>

		<div class="android-drawer mdl-layout__drawer">
			<span class="mdl-layout-title">
				<!-- <img class="android-logo-image" src="images/android-logo-white.png"> -->
				<h2 style="color: #757575; font-family: Orbitron; font-size:130%">EMC</h2>
			</span>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="{% url "wheels.views.home" %}">Home</a>
			</nav>
		</div>

		<div class="mdl-layout__content">
			<h3 style="text-align:center; font-family: Orbitron">Get Quote</h3>
			<h6 style="text-align:center">Fill in the details to get a quote</h6>

			<form style="text-align:center; padding-bottom: 2%" action="/contact/" method="post" onsubmit="formSubmitted()" 
				enctype="multipart/form-data">
				{% csrf_token %}
				{{form.choice}}
				<ul>
					<li>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							{{ form.name}}
							<label class="mdl-textfield__label" for="id_name">Name</label>
						</div>
					</li>
					<li>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							{{ form.mobile}}
							<label class="mdl-textfield__label" for="id_mobile">Mobile</label>
							<span class="mdl-textfield__error">Input is not a number!</span>
						</div>
					</li>
					<li>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							{{ form.car_make}}
							<label class="mdl-textfield__label" for="id_car_make">Car Make</label>
						</div>
					</li>
					<li>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							{{ form.model}}
							<label class="mdl-textfield__label" for="id_model">Model</label>
						</div>
					</li>
					<li>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							{{ form.year}}
							<label class="mdl-textfield__label" for="id_year">Year</label>
							<span class="mdl-textfield__error">Input is not a number!</span>
						</div>
					</li>
				</ul>

				<!-- MDL Spinner Component -->
				<div class="mdl-spinner mdl-js-spinner"  id="loader"></div>

				<div style="margin-top: 1%; margin-bottom: 3%">
					<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="submitButton" type="submit"/>
				</div>
			</form>

			<footer class="mdl-mini-footer"> <!-- style="position: fixed; bottom: 0; width: 100%;" -->
				<div class="mdl-mini-footer__left-section">
					<div class="mdl-logo">Euro Moto Corp: © 2016</div>
					<ul class="mdl-mini-footer__link-list">
						<li><a href="#">Help</a></li>
						<li><a href="#">Privacy & Terms</a></li>
					</ul>
					<ul class="mdl-mini-footer__link-list">
						<li><a href="https://www.facebook.com/Euro-moto-Corp-132728500401379"><img src="https://www.gstatic.com/images/icons/material/system/2x/post_facebook_white_24dp.png" style="width:60%"></a></li>
						<li><a href=""><img src="https://www.gstatic.com/images/icons/material/system/2x/post_twitter_white_24dp.png" style="width:60%; margin-left:-50%"></a></li>
						<li><a href=""><img src="https://www.gstatic.com/images/icons/material/system/2x/post_gplus_white_24dp.png" style="width:60%; margin-left:-100%"></a></li>
					</ul>
				</div>
			</footer>
		</div>
	</div>

</body>
</html>